.loopforge/
.goalforge/
.deno/
node_modules/
coverage/

/.loopforge/
/.goalforge/
/.omx/
loopforge-architecture-infographic.html
loopforge-flow-infographic.html
app/node_modules/
app/dist/
app/src-tauri/target/
app/src-tauri/gen/
